.root {
  color: var(--c-primary);
  font-size: 16px;
  font-weight: bold;
  border-radius: 50px;
  background: var(--c-base-bg);
  box-shadow: 5px 5px 10px #d0d0d0, -5px -5px 10px #ffffff;
  padding: 8px 16px;
  width: 200px;
}
