.root {
  position: relative;
  // width: 80vw;
  // max-width: 445px;
  // height: 80vw;
  // max-height: 445px;
  // object-fit: contain;
  // flex-shrink: 0;
  // z-index: 5;
  // pointer-events: none;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: var(--c-base-bg);
  box-shadow: inset 5px 5px 10px var(--c-neumorphism-dark),
    inset -5px -5px 10px var(--c-neumorphism-right);
}

.rouletteTable {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: transparent;
  // box-shadow: inset 5px 5px 10px var(--c-neumorphism-dark),
  //   inset -5px -5px 10px var(--c-neumorphism-right);
}

.centerHr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5px;
  height: 350px;
  border-radius: 50px;
  background: var(--c-base-bg);
  box-shadow: inset 1px 1px 0px var(--c-neumorphism-dark),
    inset -1px -1px 0px var(--c-neumorphism-right);
}

.slantedRightHr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(60deg);
  width: 5px;
  height: 350px;
  border-radius: 50px;
  background: var(--c-base-bg);
  box-shadow: inset 1px 1px 0px var(--c-neumorphism-dark),
    inset -1px -1px 0px var(--c-neumorphism-right);
}

.slantedLeftHr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-60deg);
  width: 5px;
  height: 350px;
  border-radius: 50px;
  background: var(--c-base-bg);
  box-shadow: inset 1px 1px 0px var(--c-neumorphism-dark),
    inset -1px -1px 0px var(--c-neumorphism-right);
}

.centerPinWrapper {
  background: var(--c-base-bg);
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.pin {
  width: 13px;
  height: 150px;
  background: #d32f2f;
  border-radius: 50px;
  position: absolute;
  top: -80%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 50% 4%;
  box-shadow: 3px 3px 10px var(--c-neumorphism-dark);
}

.centerPin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  background: var(--c-base-bg);
  border-radius: 50%;
  background: #f5f5f5;
  box-shadow: 1px 1px 0px var(--c-neumorphism-dark),
    -1px -1px 0px var(--c-neumorphism-right);
}

.num {
  font-size: 48px;
  font-weight: bold;
}

.first {
  color: var(--c-red-600);
  position: absolute;
  top: calc(400px / 3);
  left: 244px;
  transform: translate(0%, -100%);
}

.second {
  color: var(--c-purple-600);
  position: absolute;
  top: calc(400px / 3);
  left: 300px;
  transform: translate(0%, 75%);
}

.third {
  color: var(--c-indigo-600);
  position: absolute;
  top: calc(400px / 3);
  left: 244px;
  transform: translate(0%, 250%);
}

.four {
  color: var(--c-light-blue-600);
  position: absolute;
  top: calc(400px / 3);
  left: 124px;
  transform: translate(0%, 250%);
}

.five {
  color: var(--c-teal-600);
  position: absolute;
  top: calc(400px / 3);
  right: 300px;
  transform: translate(0%, 75%);
}

.six {
  color: var(--c-light-green-600);
  position: absolute;
  top: calc(400px / 3);
  left: 124px;
  transform: translate(0%, -100%);
}

// .container {
// }

// .container {
//   position: absolute;
//   width: 100%;
//   left: 0px;
//   right: 0px;
//   top: 0px;
//   bottom: 0px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   transform: rotate(45deg);

//   &.started-spinning {
//     animation: spin 5s cubic-bezier(0.71, -0.29, 0.96, 0.9) 0s 1 normal forwards
//         running,
//       continueSpin 0.75s linear(400 / 1000) s 1 normal forwards running,
//       stopSpin 5s cubic-bezier(0, 0, 0.35, 1.02) 5s 1 normal forwards running;
//   }

//   @keyframes spin {
//     from {
//       transform: rotate(45deg);
//     }
//     to {
//       transform: rotate((45 + 360) deg);
//     }
//   }
//   @keyframes continueSpin {
//     from {
//       transform: rotate(45deg);
//     }
//     to {
//       transform: rotate((45 + 360) deg);
//     }
//   }
//   @keyframes stopSpin {
//     from {
//       transform: rotate(45deg);
//     }
//     to {
//       transform: rotate(45deg);
//     }
//   }
// }
