.pin {
  width: 20px;
  height: 15px;
  background: var(--c-red-600);
  clip-path: polygon(100% 0, 0 0, 50% 100%);
  position: absolute;
  top: -25px;
  right: 126px;
}

.rouletteWrapper {
  position: relative;
  width: 270px;
  height: 270px;
}

.outer {
  border-radius: 50%;
  background: var(--c-base-bg);
  box-shadow: 5px 5px 10px var(--c-neumorphism-dark),
    -5px -5px 10px var(--c-neumorphism-right);
}

.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: var(--c-base-bg);
  box-shadow: inset 5px 5px 10px var(--c-neumorphism-dark),
    inset -5px -5px 10px var(--c-neumorphism-right);
}

.rouletteTable {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: transparent;
}

.centerHr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5px;
  height: 200px;
  border-radius: 50px;
  background: var(--c-base-bg);
  box-shadow: inset 1px 1px 0px var(--c-neumorphism-dark),
    inset -1px -1px 0px var(--c-neumorphism-right);
}

.slantedRightHr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(60deg);
  width: 5px;
  height: 200px;
  border-radius: 50px;
  background: var(--c-base-bg);
  box-shadow: inset 1px 1px 0px var(--c-neumorphism-dark),
    inset -1px -1px 0px var(--c-neumorphism-right);
}

.slantedLeftHr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-60deg);
  width: 5px;
  height: 200px;
  border-radius: 50px;
  background: var(--c-base-bg);
  box-shadow: inset 1px 1px 0px var(--c-neumorphism-dark),
    inset -1px -1px 0px var(--c-neumorphism-right);
}

.centerPinWrapper {
  background: var(--c-base-bg);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.centerPin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35px;
  height: 35px;
  background: var(--c-base-bg);
  border-radius: 50%;
  background: #f5f5f5;
  box-shadow: 1px 1px 0px var(--c-neumorphism-dark),
    -1px -1px 0px var(--c-neumorphism-right);
}

.num {
  font-size: 35px;
  font-weight: bold;
}

.first {
  color: var(--c-red-600);
  position: absolute;
  top: calc(250px / 3);
  left: calc((250px / 3) + 66px);
  transform: translate(0%, -100%);
}

.second {
  color: var(--c-purple-600);
  position: absolute;
  top: calc((250px / 3) - 10px);
  left: calc((250px / 3) + 104px);
  transform: translate(0%, 75%);
}

.third {
  color: var(--c-indigo-600);
  position: absolute;
  top: calc((250px / 3) - 15px);
  left: calc((250px / 3) + 66px);
  transform: translate(0%, 250%);
}

.four {
  color: var(--c-light-blue-600);
  position: absolute;
  top: calc((250px / 3) - 15px);
  left: calc((250px / 3) - 10px);
  transform: translate(0%, 250%);
}

.five {
  color: var(--c-teal-600);
  position: absolute;
  top: calc((250px / 3) - 10px);
  left: calc((250px / 3) - 43px);
  transform: translate(0%, 75%);
}

.six {
  color: var(--c-light-green-600);
  position: absolute;
  top: calc(250px / 3);
  left: calc((250px / 3) - 10px);
  transform: translate(0%, -100%);
}

.show {
  animation-name: showRoulette;
  animation-duration: 1s;
  animation-timing-function: easeInOutBack;
  animation-fill-mode: forwards;
}
@keyframes showRoulette {
  0% {
    transform: translateX(500px) rotate(0deg);
  }
  100% {
    transform: translateX(-524px) rotate(720deg);
  }
}

.hide {
  animation-name: end;
  animation-duration: 1s;
  animation-timing-function: easeOutBack;
  animation-fill-mode: forwards;
}
@keyframes end {
  0% {
    transform: translateX(-524px) rotate(0deg);
  }
  100% {
    transform: translateX(500px) rotate(720deg);
  }
}
